/* Styl dla całej strony */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #111;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wymiar{
    background-image: url('tlo_wymiar.jfif');
}

.podbi{
    background-image: url('pod.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Styl dla sekcji z rodzajami */
.rodzaje {
    margin: 20px;
    width: 80%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    overflow: hidden; /* Ukrywanie elementów, które wychodzą poza kontener */
}

/* Styl dla tabeli */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px; /* Dodana odległość między komórkami w poziomie */
    margin-top: 20px;
}

/* Styl dla komórek w tabeli */
td {
    padding: 20px; /* Zwiększono rozmiar komórek */
    border: 1px solid #ddd;
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styl dla komórek w tabeli po najechaniu myszką */
td:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

/* Styl dla tekstu w komórkach */
td p {
    margin: 0;
}

/* Styl dla obrazków */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styl dla nagłówka strony */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-bottom: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styl dla tytułu strony */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold; /* Pogrubienie czcionki */
}

/* Styl dla stopki strony */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-top: 4px solid #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

/* Styl dla linków */
a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Styl dla linków po najechaniu myszką */
a:hover {
    color: #ffa500;
}
